DB_URL=postgresql://admin:admin@localhost:5432/skincare_db
SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vQrYWcrvtaSC8HGNJwVRtEysIyNoh3-t5OY_DpHcYsKZUs8qDt-ogXSZYU9ypQXI2xtAOrB8j9eYZAm/pub?gid=1566667453&single=true&output=csv
OWM_API_KEY=67a403b571aa64259e91bbe83fc70016
LAT=-3.3190
LON=114.5900
UNITS=metric